<section>
    <div class="container-fluid " style="margin-top: 67px; background-color: antiquewhite;">
        <div class="row">
            <div class="col text-center mt-3">
                <P>FAQs</P>
                <h2>Ask us anything</h2>
                <p>Have any questions? We're here to assit you</p>
                <i class="bi bi-search px-3" style="position: absolute; margin-left: 5px; margin-top: 3px;"></i>
                <input class="px-5 mb-5" type="text" placeholder="Search here" style="border-radius: 10px; border-style: none;">
            </div>
        </div>
    </div>

    <div class="container-fluid " style="background-color: white;">
        <div class="row justify-content-around align-items-center">
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-envelope fs-3"></i>
                </div>
                <p class="fw-bold py-2">How do i change my account email?</p>
                <p>you can log in to your account and change it from your profile > Edit profile.then go to the general tap to change your email.change your email and click to save</p>
            </div>
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-credit-card fs-3"></i>
                </div>
                <p class="fw-bold py-2">What should i do if my payment fails?</p>
                <p>If your payment fails, you can use the (COD) payment optio, if available on that order. If your payment is debted from your account after a payment failure, it will be credited back within
                    7-10 days.</p>
            </div>
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-x-circle fs-3"></i>
                </div>
                <p class="fw-bold py-2">What is your cancellation policy?</p>
                <p>You can now cancel an order when it is in packed/ shipped status. Any amount paid will be credited into the same payment mode using which the payment was made</p>
            </div>
        </div>


        <div class="row justify-content-around align-items-center">
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-truck fs-3"></i>
                </div>
                <p class="fw-bold py-2">How do i check delivery status?</p>
                <p>Please tap on "My Orders* section under main menu of App/Website/M-site to check your order status.Please tap on "My Orders* section under main menu of App/Website/M-site to check your order status</p>
            </div>
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-currency-rupee fs-3"></i>
                </div>
                <p class="fw-bold py-2">What is instant refunds?</p>
                <p>Upon successful pickup of the return product at your doorstep, Myntra will instantly initiate the refund to your source account or chosen method of refund. Instant Refunds is not available in a few select pin codes.</p>
            </div>
            <div class="col-md-3 mt-3">
                <div class=" d-flex justify-content-center align-items-center rounded-circle" style="height: 70px; width: 70px; background-color: bisque;">
                    <i class="bi bi-tag fs-3"></i>
                </div>
                <p class="fw-bold py-2">How do i apply coupon on my order?</p>
                <p>You can apply a coupon on cart page before order placement. The complete list of your unused and valid coupons will be available under "My Coupons* tab of App/Website/M-site.so you can apply easily</p>
            </div>
           
        </div>

        <div class="container pb-4 py-2" style="background-color: white;">
            <div class="row justify-content-around align-items-center rounded" style="background-color: antiquewhite;">
                <div class="col-6 py-2">
                    <p  class="fw-bold">Still have questions?</p>
                    <p>Can't find answer you are looking for? Please chat to our friendly team</p>
                </div>
                <div class="col-2 text-center">
                    <button class="btn btn-primary">Get in Touch</button>
                </div>
            </div>
        </div>

    
    </div>
</section>