
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: black;">
  <div class="container-fluid">
    <a class="navbar-brand text-italic p-2" href="#"> <i> A-store </i>
      <img src="https://d2d22nphq0yz8t.cloudfront.net/88e6cc4b-eaa1-4053-af65-563d88ba8b26/https://media.croma.com/image/upload/v1637840166/Croma%20Assets/Categories/Brand%20Logo/apple_white_tnzu0e.png/mxw_2048,f_auto" alt="" style="height: 35px; width:35px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-auto" id="navbarNav">
      <ul class="navbar-nav m-auto">
        <ng-container *ngIf="loggedIn">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="myorders" >My Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="myaccount">My Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="contactus">Customer Service</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="logout" (click)="logout()">Logout</a>
          </li>
        </ng-container>

        <ng-container *ngIf= "!loggedIn" >
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="register">Register</a>
          </li>
        </ng-container>
      </ul>

      <ul class="navbar-nav d-flex flex-row me-3">
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="">
            <i class="bi bi-geo-fill text-warning"></i>
            <span style="font-family: sans-serif;">India <img style="height: 13px; width: 18px;" src="https://i.pinimg.com/474x/cc/67/91/cc679147ec216dd8cf6d6b7c5aad53d6.jpg" alt=""></span>
          </a>
        </li>
        <ng-container *ngIf="loggedIn">
          <li class="nav-item me-3 me-lg-0">
            <!-- <a class="nav-link" routerLink="cart">
              <i class="fas fa-shopping-cart"></i>
              <span>{{counting}}</span>
            </a> -->
            <button type="button" class="btn btn-sm btn-dark" routerLink="cart">
              <i class="fas fa-shopping-cart"></i> <span class="badge badge-light">{{counting}}</span>
            </button>
          </li>
        </ng-container>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item me-3 me-lg-0">
          <a class="nav-link" routerLink="">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


  